header
    nav.navbar.navbar-default
        div.container
            div.navbar-header
                a.navbar-brand(href="#") Default Welcome Msg!
            ul.nav.navbar-nav.navbar-right
                li.dropdown(role="presentation")
                    a.dropdown-toggle(data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false") Lenguage
                        span.caret
                        ul.dropdown-menu
                            li
                li.dropdown(role="presentation")
                    a.dropdown-toggle(data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false") Currency
                        span.caret
                        ul.dropdown-menu
                            li
                li.dropdown(role="presentation")
                    a.dropdown-toggle(data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false") My Account
                        span.caret
                        ul.dropdown-menu
                            li                                          
    div.container
        div.col-md-4
            div
                i
            div
                p OPENING TIME
                P 9.00 AM - 10.00 PM
        div.col-md-4
            div
                img(src="images/logo.png")
        div.col-md-4
            form
                input.form-control(type="text" placeholder="search")
        
